.footer {
  width: 100%;
  height: 200px;
  border-top: 1px solid darkorchid;
  margin-top: 50px;
  padding-top: 30px;
  .content {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    .img {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      img {
        width: 100px;
        height: 80px;
        object-fit: cover;
      }
      h2 {
        font-size: 20px;
        span {
          color: darkorchid;
        }
      }
    }
    .text {
      display: flex;
      align-items: start;
      flex-direction: column;
      gap: 10px;
      h3 {
        font-size: 15px;
      }
      h4 {
        font-size: 12px;
        font-weight: 500;
        cursor: pointer;
        &:hover {
          transform: scale(1.05);
          transition: 0.8s;
          color: darkorchid;
        }
      }
    }
    .share {
      display: flex;
      align-items: start;
      flex-direction: column;
      gap: 10px;
      width: 100px;
      a {
        &:hover {
          transform: scale(1.2);
          transition: 0.8s;
        }
      }
      .instagram {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        border-radius: 5px;
        padding: 3px;
        background: linear-gradient(
          0deg,
          rgba(251, 227, 4, 0.9809173669467787) 0%,
          rgba(245, 74, 74, 1) 39%,
          rgba(240, 68, 204, 1) 74%,
          rgba(240, 67, 216, 1) 78%,
          rgba(247, 60, 189, 1) 100%
        );
      }
      .tiktok {
        color: black;
        font-size: 20px;
      }
      .telegram {
        color: rgb(4, 171, 236);
        font-size: 20px;
      }
      .whatsapp {
        color: rgb(1, 186, 1);
        font-size: 20px;
      }
    }
    .hr {
      height: 120px;
      width: 1px;
      background: darkorchid;
    }
  }
  h6 {
    margin-top: 20px;
    font-weight: 500;
    color: gray;
  }
}
